<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="bootstrap-4.0.0-dist/css/bootstrap.min.css">
        <script src="jquery.js"></script>
        <script src="bootstrap-4.0.0-dist/js/bootstrap.min.js"></script>
        <style>
            
        .log{
            background-color:rgba(0,0,0,0.5);
            margin-top:60px;
        }
        label{
            color:white;
        }
        a:link{
            color:white;
        }
        a:visited{
            color:white;
        }
        a:hover{
            color:yellow;
        }
        .acc{
          margin-left:190px; 
        }
        </style>
    </head>
    <body>
        <div class="container-fluid px-0">
            <div class="row">
                <div class="col-md-6">
                    <img src="login3.jpg" style="height:650px; width:1360px;">
                </div>
                <div class="col-md-6 log" style="position:absolute;left:340px;">
                    <h1 style="color:white; text-align:center; margin-top:20px;">Login</h1><br>
                    <form action="">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Username</label>
                                    <input type="text" placeholder="Username" class="form-control">
                                </div>
                                <div class="col-md-12 mt-4">
                                    <label>Password</label>
                                    <input type="password" placeholder="Password" class="form-control">
                                </div>
                                <div class="col-md-12 mt-3">
                                 <div class="row">
                                     <div class="col-md-6">
                                <input type="checkbox" value="Remember Me" style="color:white;">&nbsp;<span style="color:white">Remember Me</span>
                                  </div>
                                  <div class="col-md-6 ">
                                    <a href="" style="margin-left:90px;">Forgot Password?</a>
                            </div>
                            </div>
                            </div>
                            <div class="col-md-12 mt-3">
                            <button type="submit" value="LOGIN" class="btn btn-block btn-warning"><b>LOGIN</b></button>
                            </div>
                            <div class="col-md-12">
                              <br>  <span style="color:white" class="acc">Don't have an account?&nbsp;<a href="signup.html" style="color:yellow;">Create One</a></span>
                            </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>